/*::::::::::Topo da Página::::::::::*/
.barraTopo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tituloTopo{
    color: white;
    font-size: 37px;
    font-weight: bold;
}
/*::::::::::Corpo da Página Inicial::::::::::*/

/*::::::::::Sugestão de criação de Quiz::::::::::*/
.corpoPaginaInicial{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
}
.criarQuizz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1051px;
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #D5D5D5;
}
.botãoDeCriação{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    height: 107px;
}
.avisoQuizz{
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
    margin-bottom: 10px;
}
.criar{
    width: 136px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    background-color: white;
    border-radius: 50px;
    border: 1px dashed #EC362D;
}
/*::::::::::Todos os Quizzes::::::::::*/
.caixaDeQuizz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1050px;
    height: 374px;
    background-color: yellow;
}
.quizzesDeOutros{
    width: 340px;
    height: 181px;
    background-color: violet;
    position: relative;
}

.quizzesDeOutros img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.sombraImagem {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0 -50px 60px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
}

.quizzesDeOutros span{
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    z-index: 1;
}

/*:::::::::::Tela de Criação de Quizz 1::::::::::*/
.corpoPaginaCriação{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
    background-color: white;
}
.conteudoCriação{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 1200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.instrução{
    font-size: 23px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 30px;
}
.dadosQuizz_1{
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05)
}
#inputBox{
    width: 564px;
    height: 46px;
    margin-bottom: 10px;
    margin-left: 18px;
    font-size: 19px;
    font-style: italic;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
  
}
.botaoDeProsseguir{
    width: 370px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-top: 75px;
    margin-bottom: 30px;
}
.textoBotaoProsseguir{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 18px;
}
.voltar{
    width: 136px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    background-color: white;
    border-radius: 50px;
    border: 1px dashed #EC362D;
}
/*:::::::::::Fim da Tela de Criação de Quizz 1::::::::::*/

/*:::::::::::Tela de Criação de Quizz 2::::::::::*/
.dadosQuizz_2{
    width: 600px;
    height: 825px;
}
.inputTitle{
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 28px;
}
.caixaDeAdição{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);  
}
.addTitle{
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
   
 
}
.pencil{
    width: 26px;
    height: 23px;
    margin-right: 10px;
}

/*:::::::::::Fim da Tela de Criação de Quizz 2::::::::::*/

/*:::::::::::Tela de Criação de Quizz 3::::::::::*/
.caixadeNiveis{
    width: 600px;
    height: 316px;
}




/*:::::::::::Fim da Tela de Criação de Quizz 3::::::::::*/
/*::::::::::Estilos Gerais::::::::::*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*::::::::::Classes de Suporte::::::::::*/
.displayNone{
    display: none;
}
