/*::::::::::Topo da Página::::::::::*/
.barraTopo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tituloTopo{
    color: white;
    font-size: 37px;
    font-weight: bold;
}
/*::::::::::Corpo da Página Inicial::::::::::*/

/*::::::::::Sugestão de criação de Quiz::::::::::*/
.corpoPaginaInicial{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
}
.criarQuizz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1051px;
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #D5D5D5;
}
.botãoDeCriação{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    height: 107px;
}
.avisoQuizz{
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
    margin-bottom: 10px;
}
.criar{
    width: 136px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    background-color: white;
    border-radius: 50px;
    border: 1px dashed #EC362D;
}
/*::::::::::Todos os Quizzes::::::::::*/
.caixaDeQuizz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
    height: 374px;
    background-color: yellow;
}
.quizzesDeOutros{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background-color: violet;
}
/*:::::::::::Tela de Criação de Quizz::::::::::*/
.corpoPaginaCriação{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
    background-color: white;
}
.conteudoCriação{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 1000px;
}
.comece{
    font-size: 23px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 30px;
}
.dadosQuizz_1{
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05)
}
.botaoDeProsseguir{
    width: 370px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-top: 75px;
    margin-bottom: 30px;
}
.textoBotaoProsseguir{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 18px;
}
.voltar{
    width: 136px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    background-color: white;
    border-radius: 50px;
    border: 1px dashed #EC362D;
}

/*::::::::::Estilos Gerais::::::::::*/
body {
    font-family: 'Roboto', sans-serif;
}

/*::::::::::Classes de Suporte::::::::::*/
.displayNone{
    display: none;
}
